[Unit]
Description=calico node
After=docker.service
Requires=docker.service

[Service]
User=root
#Environment=ETCD_ENDPOINTS=http://<ETCD_IP>:<ETCD_PORT>
###    /etc/kubernetes/calico-node
###    ETCD_ENDPOINTS=http://<ETCD_IP>:<ETCD_PORT>
###    CALICO_VER=v2.5.1
EnvironmentFile=-/etc/kubernetes/calico-node
PermissionsStartOnly=true
ExecStart=/usr/bin/docker run --net=host --privileged --name=calico-node \
  -e ETCD_ENDPOINTS=${ETCD_ENDPOINTS} \
  -e NODENAME=${HOSTNAME} \
  -e IP= \
  -e NO_DEFAULT_POOLS= \
  -e AS= \
  -e CALICO_LIBNETWORK_ENABLED=true \
  -e IP6= \
  -e CALICO_NETWORKING_BACKEND=bird \
  -e FELIX_DEFAULTENDPOINTTOHOSTACTION=ACCEPT \
  -v /var/run/calico:/var/run/calico \
  -v /lib/modules:/lib/modules \
  -v /run/docker/plugins:/run/docker/plugins \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v /var/log/calico:/var/log/calico \
  quay.io/calico/node:${CALICO_VER}
ExecStop=/usr/bin/docker rm -f calico-node
Restart=always
RestartSec=10
